header, .process, .banner, .profile {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}
#top {
  font-size: 70px;
  color: white;
}
header {
  background-image: url(../images/the-flatiron-building.png);
}
header a {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
p {
  font-weight: normal;
}
.banner {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}
footer {
  background-color: dimgray;
  color: white;
}
footer a {
  color: white;
}
